@tailwind base;
@tailwind components;
@tailwind utilities;


.map-container{
    height: 100vh;
}

 #map {
            height: 100%;
            width: 100%;
            border-radius: 0.5rem;
        }